<div class="header row2">
  <div class="header1">
    <img id="logo" class="logo1" src="../../logo.jpeg"><br>
    <p id="date"></p>

  </div>
  <div class="header2">
    <img src="../../ad.jpg">
  </div>
</div>
<!-- Navigation Bar -->
<div id="navbar">

  <div id="navelements">
    <a href="/" id="home" class="active">ഹോം</a>
    <a href="/news/getNews/politics" id="politics" class="">രാഷ്ട്രീയം</a>
    <a href="/news/getNews/entertainment" id="entertainment" class="">വിനോദം</a>
    <a href="/news/getNews/sports" id="sports" class="">കായികം</a>
    <a href="/news/getNews/foreign" id="foreign" class="">പ്രവാസം</a>
    <a href="/news/getNews/travel" id="travel" class="">യാത്ര</a>
  </div>
</div>