<article class=" clr loop-entry col-2 ">

                              <div class="loop-entry-media clr">
                              
                              
                                   <div class="entry-cat-tag cat-8-bg"> <a title="വാർത്തകൾ" href="news_list/news/allnews/"> വാർത്തകൾ </a> </div>
							
                                                                <!-- .entry-cat-tag -->
                                   
                              
                                   <figure class="loop-entry-thumbnail"> <a title="" href="#">
                                   

                                        <div class="post-thumbnail"> 
                                        
                                       <!-- <img alt=""

										src="../resources/News/fd2bab8cdb2b897dc37c498640b903d6_0.jpg">-->
                                        
                                         <div style="overflow:hidden;background-size:cover;background-repeat:no-repeat; min-height:197px;background-image:url(../resources/News/fd2bab8cdb2b897dc37c498640b903d6_0.jpg)"></div>
                                         
                                         </div>

                                        <!-- .post-thumbnail -->

                                        </a> </figure>
                                        
							                                     <!-- .loop-entry-thumbnail -->

                              </div>

                              <!-- .loop-entry-media -->
<!--archive-featured-post-excerpt clr
loop-entry-content clr -->


                              <div class="loop-entry-content clr ">

                                   <header>

                                        <h2 class="loop-entry-title"> <a title="മെഡിക്കല്‍ സ്റ്റോര്‍ ജീവനക്കാര്‍ ചികിത്സകരായി; പൊലിഞ്ഞത് ഒരു രണ്ട് വയസ്സുകാരിയുടെ ജീവന്‍ " href="post/2years_baby_died_in_delhi/"> മെഡിക്കല്‍ സ്റ്റോര്‍ ജീവനക്കാര്‍ ചികിത്സകരായി; പൊലിഞ്ഞത് ഒരു രണ്ട് വയസ്സുകാരിയുടെ ജീവന്‍  </a> </h2>

                                        <div class="loop-entry-meta clr">

                                             <div class="loop-entry-meta-date"> <span class="fa fa-clock-o"></span> Dec 14, 2019 </div>


                                        </div>

                                        <!-- .loop-entry-meta -->

                                   </header>

                                   <div class="loop-entry-excerpt entry clr">  </div>

                                   <!-- .loop-entry-excerpt -->

                              </div>

                              <!-- .loop-entry-content -->

                         </article>