<html>
<!DOCTYPE html>
<html>
<head>
<style>
body {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
</head>
<body>

<div class="header">
<img class="sticky" src="C:\Users\HP\Desktop\logo.jpg.jpg" alt="img" width="500" height="200">

 <img src="ad" alt="ads" width="700" height="200" align="right"> 
</div>

<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#regional">Regional</a></li>
  <li><a href="#NATIONAL">National</a></li>
  <li><a href="#international">International</a></li>
  <li><a href="#sports">Sports</a></li>
  <li><a href="#politics">Politics</a></li>
  <li><a href="#Entertainment">Entertainment</a></li>
  <li><a href="#technology">Technology</a></li>
  <li><a href="#pravasi">Pravasi</a></li>

</ul>


<br>
<br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid black;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid black;
  width: 70%;
  border-left: none;
  height: 300px;
  display: none;
}

/* Clear floats after the tab */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>


<div class="tab">
  <button class="tablinks" onmouseover="opennews(event, 'London')">London</button>
  <button class="tablinks" onmouseover="opennews(event, 'Paris')">Paris</button>
  <button class="tablinks" onmouseover="opennews(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div class="clearfix"></div>

<script>
function opennews(evt, news) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(news).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>
   
</body>

</body>
</html>
