<!DOCTYPE html>
<html>
<head>
<title>വാര്ത്താമലയാളം</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
  .main{
    height: 1500px;
    margin-top: 50px;
    display: flex;
  }
  .main1{
    flex: 75%;
  
  }
  .main2{
    flex: 25%;
   
  }
  .article{
    display: flex;
    height: 200px;
    width:70%;
    margin-left: 20px;
    margin-top: 30px;
    overflow:hidden;
  }
  .art1{
    flex: 50%;
    
   
    text-align:  center;
  }
  .art1 img{
    height:100%;
    width:auto;

  }
 .art2{
    flex: 50%;
    max-width: 50%;
     padding-left: 20px;
    margin-left: 20px;
  }
  #date-added{
    font-size: 12px;
  }
  .art2 p{
    font-size: 10px;
  }
</style>


</head>
<body>



<div class="header row2" >
                             <div class="header1">
                                        <img id="logo" class="logo1" src="logo.jpeg">
                                    </div>
                                    <div class="header2">
                                    <img src="ad.jpg">
                                    </div>
                                  </div>
<!-- Navigation Bar -->
<div id="navbar">
  
  <div id="navelements">
  <a href="index.html"class="nav">ഹോം</a>
  <a href="politics.html" class="nav">രാഷ്ട്രീയം</a>
  <a href="entertainment.html"class="nav">വിനോദം</a>
  <a href="sports.html"class="nav">കായികം</a>

    <a href="foreign.html"class="nav">പ്രവാസം</a>
  <a href="travel.html"class="nav">യാത്ര</a>
</div>

</div>

<div class="main">
  <div class="main1">
    <h1>ഇനി ഞാൻ എവിടെ ബാറ്റു ചെയ്യും?; ലേലത്തിനൊടുവിൽ രോഹിത്തിന്റെ ചോദ്യം...

</h1>
<br>
<br>
    <img src="rohit.jpg" alt="Smiley face" height="500" width="1000">
<p>കൊൽക്കത്ത∙ ഐപിഎൽ 13–ാം സീസണിനു മുന്നോടിയായുള്ള താരലേലത്തിനൊടുവിൽ മുംബൈ ഇന്ത്യൻസ് നായകൻ കൂടിയായ രോഹിത് ശർമയ്ക്കൊരു സംശയം; ‘ഇനി ഞാനെവിടെ ബാറ്റു ചെയ്യും?’ – ഐപിഎൽ താരലേലത്തിനൊടുവിൽ ഓസ്ട്രേലിയക്കാരനായ ക്രിസ് ലിൻ, ഇന്ത്യൻ താരം സൗരഭ് തിവാരി എന്നിവരെക്കൂടി മുംബൈ ഇന്ത്യൻസ് ടീമിലെത്തിച്ചതോടെയാണ് രോഹിത് രസകരമായ കമന്റുമായി എത്തിയത്. ഈ വർഷത്തെ താരലേലത്തിനു മുന്നോടിയായി കൊൽക്കത്ത നൈറ്റ് റൈഡേഴ്സ് റിലീസ് ചെയ്ത ക്രിസ് ലിന്നിനെ അടിസ്ഥാന വിലയായ രണ്ടു കോടി രൂപയ്ക്കാണ് മുംബൈ സ്വന്തമാക്കിയത്. താരലേലത്തിലെ ആദ്യ വിളി കൂടിയായിരുന്നു ഇത്. പിന്നാലെ സൗരഭ് തിവാരി 50 ലക്ഷം രൂപയ്ക്കും മുംബൈ സ്വന്തമാക്കി.

സന കൊച്ചുകുട്ടിയല്ലേ, രാഷ്ട്രീയം അറിയില്ല: വിശദീകരണവുമായി ഗാംഗുലി
CRICKET
സന കൊച്ചുകുട്ടിയല്ലേ, രാഷ്ട്രീയം അറിയില്ല: വിശദീകരണവുമായി ഗാംഗുലി
ഐപിഎല്ലിൽ നിലവിലെ ചാംപ്യൻമാരായ മുംബൈ, ഇപ്പോൾത്തന്നെ മികച്ച ബാറ്റ്സ്മാൻമാരുടെ സാന്നിധ്യംകൊണ്ട് സമ്പന്നമാണ്. രോഹിത് ശർമയ്ക്കു പുറമെ ദക്ഷിണാഫ്രിക്കൻ താരം ക്വിന്റൻ ഡികോക്ക്, വിൻഡീസ് താരം കീറോൺ പൊള്ളാർഡ്, ഇന്ത്യൻ താരങ്ങളായ സൂര്യകുമാർ യാദവ്, ഇഷാൻ കിഷൻ, ഹാർദിക് പാണ്ഡ്യ, ക്രുനാൽ പാണ്ഡ്യ എന്നിവരാണ് മുംബൈയുടെ ബാറ്റിങ് ലൈനപ്പിലുള്ളത്. ഇവർക്കു പുറമെയാണ് ക്രിസ് ലിൻ, സൗരഭ് തിവാരി എന്നിവരെക്കൂടി ലേലത്തിലൂടെ ടീമിലെത്തിച്ചത്. ഓൾറൗണ്ടറായ നേഥൻ കൂൾട്ടർനീൽ കൂടി ചേരുമ്പോൾ ഇക്കുറി ടീം സിലക്ഷൻ മഹേള ജയവർധനെയ്ക്കും സംഘത്തിനും കനത്ത തലേവദന സമ്മാനിക്കുമെന്ന് തീർച്ച. എട്ടു കോടി രൂപയ്ക്കാണ് കൂൾട്ടർനീലിനെ മുംബൈ വിളിച്ചെടുത്തത്.

ഇതോടെ, താരലേലത്തിന്റെ ലൈവ് വിഡിയോയ്ക്കു താഴെ കമന്റ് രൂപത്തിലാണ് രോഹിത് ശർമയുെട പ്രതികരണം എത്തിയത്. ‘രോഹിത് ശർമ എവിടെ ബാറ്റു ചെയ്യും?’ – ഇതായിരുന്നു രോഹിത്തിന്റെ ചോദ്യം.

ഈ മൂവർസംഘത്തിനു പുറമെ പുതുമുഖങ്ങളായ മൂന്നു പേരെയാണ് മുംബൈ ടീമിലെത്തിച്ചത്. 20 ലക്ഷം രൂപ വീതം നൽകി ദിഗ്‌വിജയ് ദേശ്മുഖ്, പ്രിൻസ് ബൽവന്ത് റായ് സിങ്, മൊഹ്സിൻ ഖാൻ എന്നിവരാണ് മുംബൈയിലെത്തിയത്.മുംബൈ ഇന്ത്യൻസ് ടീമിലെത്തിച്ചതോടെയാണ് രോഹിത് രസകരമായ കമന്റുമായി എത്തിയത്. ഈ വർഷത്തെ താരലേലത്തിനു മുന്നോടിയായി കൊൽക്കത്ത നൈറ്റ് റൈഡേഴ്സ് റിലീസ് ചെയ്ത ക്രിസ് ലിന്നിനെ അടിസ്ഥാന വിലയായ രണ്ടു കോടി രൂപയ്ക്കാണ് മുംബൈ സ്വന്തമാക്കിയത്. താരലേലത്തിലെ ആദ്യ വിളി കൂടിയായിരുന്നു ഇത്. പിന്നാലെ സൗരഭ് തിവാരി 50 ലക്ഷം രൂപയ്ക്കും മുംബൈ സ്വന്തമാക്കി.

സന കൊച്ചുകുട്ടിയല്ലേ, രാഷ്ട്രീയം അറിയില്ല: വിശദീകരണവുമായി ഗാംഗുലി
CRICKET
സന കൊച്ചുകുട്ടിയല്ലേ, രാഷ്ട്രീയം അറിയില്ല: വിശദീകരണവുമായി ഗാംഗുലി
ഐപിഎല്ലിൽ നിലവിലെ ചാംപ്യൻമാരായ മുംബൈ, ഇപ്പോൾത്തന്നെ മികച്ച ബാറ്റ്സ്മാൻമാരുടെ സാന്നിധ്യംകൊണ്ട്</p>
 
</div>
<div class="main2">
  <p>ad</p>

</div>




</div>


<!-- Footer -->
<div class="footer">
 <h2>വാര്‍ത്താമലയാളം</h2>
  <h3>phone number</h3>
</div>


<script>
window.onscroll = function() {myFunction2()};

var navbar = document.getElementById("navbar");
var sticky = (navbar.offsetTop);
var logo=document.getElementById("logo")


var h=logo.height;
function myFunction2() {
  if (window.pageYOffset >= h/2) {
    navbar.classList.add("sticky")
    logo.classList.remove("logo1")
    logo.classList.add("logo2")
    navbar.style.height="80px"

  } else {
    navbar.classList.remove("sticky");
    logo.classList.remove("logo2")
    logo.classList.add("logo1")
    navbar.style.height="60px"
  }
}
var d=new Date();
document.getElementById("date-added").innerHTML=d.toDateString();


</script>

</body>
</html>
