<!DOCTYPE html>
<html>
<head>
<title>വാര്ത്താമലയാളം</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../../style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
  .main{
    height: 1500px;
    margin-top: 50px;
    display: flex;
  }
  .main1{
    flex: 75%;
    border:1px solid;
  }
  .main2{
    flex: 25%;
    border: 1px solid;
  }
  .article{
    display: flex;
    height: 200px;
    width:70%;
    margin-left: 20px;
    margin-top: 30px;
    overflow:hidden;
  }
  .art1{
    flex: 50%;
    
   
    text-align:  center;
  }
  .art1 img{
    height:100%;
    width:auto;

  }
 .art2{
    flex: 50%;
    max-width: 50%;
     padding-left: 20px;
    margin-left: 20px;
  }
  #date-added{
    font-size: 12px;
  }
  .art2 p{
    font-size: 10px;
  }
</style>


</head>
<body>



  <%- include partials/navbar.ejs %>
<div class="main">
  <div class="main1">

    <% for(var i =0;i<data.length;i++){%>
      <article class="article loop-entry">
        <div class="art1 loop-entry-media" >
          <img src="/images/<%= data[i].image_url %>">
        </div>
        <div class="art2 loop-entry-content">
          <header>
                 <h3 class="loop-entry-title"> <a title="" href="news.html" onclick="change()"> <%= data[i].heading %></a> </h3>
    
              <div class="loop-entry-meta clr">
    
                 <div class="loop-entry-meta-date" style="display: inline-flex;"> <div><i class="fa fa-clock-o" style="font-size:20px;margin-right: 4px;"></i></div><div id="date-added"></div></div>
    
    
              </div>
          </header>
         <p ><%= data[i].short_description %></p>
        </div>
    
      </article>
    
    <% } %>

  
</div>
<div class="main2">
  <p>ad</p>

</div>




</div>


<!-- Footer -->
<div class="footer">
 <h2>വാര്‍ത്താമലയാളം</h2>
  <h3>phone number</h3>
</div>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


  <script>
    $("#home").removeClass("active");
    $("#sports").addClass("active");
    $("#entertainment").removeClass("active");
    $("#foreign").removeClass("active");
    $("#travel").removeClass("active");
    $("#politics").removeClass("active");
    </script>


<script>
window.onscroll = function() {myFunction2()};

var navbar = document.getElementById("navbar");
var sticky = (navbar.offsetTop);
var logo=document.getElementById("logo")


var h=logo.height;
function myFunction2() {
  if (window.pageYOffset >= h/2) {
    navbar.classList.add("sticky")
    logo.classList.remove("logo1")
    logo.classList.add("logo2")
    navbar.style.height="80px"

  } else {
    navbar.classList.remove("sticky");
    logo.classList.remove("logo2")
    logo.classList.add("logo1")
    navbar.style.height="60px"
  }
}
var d=new Date();
document.getElementById("date-added").innerHTML=d.toDateString();


</script>

</body>
</html>
