
* {
  box-sizing: border-box;

}
a{
  text-decoration: none;
}
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}
ul{
  list-style: none;
}

/* Header/logo Title */
.header {
  padding: 10px;
  
  background: white;
height: 100px;
  color: white;

 
}
 
  
/* Style the top navigation bar#4169E1 */
#navbar {
 margin-bottom: 10px;
height: 60px;
  background-color: white;
 
  z-index: 1;
text-align: center;


}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
padding-top: 20px;
}

.sticky + .content {
  padding-top: 60px;

}
.active,nav{
  margin-left: 5px;
}
 #navelements{
  margin-left:40%;
  padding-top: 3px;

  }

/* Style the navigation bar links */
#navbar a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  display: table-cell;
   font-weight: bold;
vertical-align: middle;


}
#navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 10px 8px -6px #999;

    
}


.active{
  border: 2px solid red;
    font-weight: bold;
  }
.nav{
  border:2px solid white;
}
.nav:hover{
  border: 2px solid black;

}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column1 {
  background-color: #ddd;
  flex: 70%;
 
  height: 300px;

  max-width: 100%;
}
.column2 {
  background-color:white; 
  flex: 30%;
  display: block;
   
    height: 300px;
 
  width:100%;
  overflow: scroll;

  overflow-x: hidden;
  overflow-y: hidden;

}
.column2 a{
   color: black;
   text-decoration: none;
   font-size: 12px;
   font-weight: bolder;
}

.row1 {
  display: flex;
  
min-width: 100%;
height: 80px;
}
.noimgrow{
  height:80px;
}
.c{
  width: 100%;
  height: 80px;
}
/* Create two equal columns that sits next to each other */
.c1 {
  flex: 30%;
width: 100%;
height: 80px;
}
.c1 img{
height: auto;
width: auto;
padding-right: 10px;
}
.c2 {
  flex:70%;
max-width: 70%;
height: 80px;
}
.body {
  display:flex;
 

}

/* Create two equal columns that sits next to each other */
.body1 {
  flex: 15%;
 
 min-width: 15%;
}
.body2 {
  flex:85%;
max-width: 85%;
padding-left: 10px;
 }
.body1 img{
  margin-top: 10px;
  height: auto;
  width: 100%;

}
 .row2{
  display: flex;

}

/* Create two equal columns that sits next to each other */
.header1 {
  flex: 35%;
height: 100%;

}
.header2 {
  flex:65%;
  max-width: 65%;

 }

 .header2 img{
  padding-top: auto;
 
  max-width: 100%;
  max-height: 100%;
  margin: auto;

 }



/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background:grey;
  color: white;
 margin-top: 10px;
}
* {
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
.heading{
  padding-top: 50px;

}

.logo1{
    height: 80px ;
  width:256px;
  float: left;
  position: fixed;
  
  left: 0;
  
  z-index: 2;
  margin-left: 30px;
}

.logo2{
   height: 80px ;
  width:256px;
   float: left;
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 5px;
  padding-top: 5px;
 margin-left: 15px;
  z-index: 2;
}
.c1{
  max-height: 100%;
  max-width: 30%;
}
.c1 img{
  height: 100%;
  width: 100%;
}
.c2{
  max-height: 100%;
  max-width: 70%;overflow: hidden;
}
#newshead{
  font-size: 12px;
  ;
}
.column1 img{
  height:100%;
  width:100%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}
.container {
  position:sticky;
  width: 100%;
  height: 300px;
}
  .container:hover .overlay {
  opacity: .6;
  z-index: 0;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
