<!DOCTYPE html>
<html>

<head>
  <title>വാര്‍ത്താമലയാളം</title>
  <meta charset="UTF-8">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../style.css">


  <style type="text/css">
    @font-face {
      font-family: 'Malayalam';
      src: url('../fonts/meera.eot');
      src: url('../fonts/meera.eot?#iefix') format('embedded-opentype'),
        url('../fonts/meera.woff') format('woff'),
        url('../fonts/meera.ttf') format('truetype'),
        url('../fonts/meera.svg#Malayalam') format('svg');
      font-weight: normal;
      font-style: normal;
    }


    .list-group-item {
      color: black;
    }

    .donors {
      -webkit-transition: opacity 0.5s ease-out;
      -webkit-animation: autoScrolling 15s linear infinite;
      height: 20em;
    }

    .list-group-item a:hover {
      color: blue;
    }

    @-webkit-keyframes autoScrolling {
      from {
        margin-top: 300px;
      }

      to {
        margin-top: -20em;
      }
    }

    /* Add padding BETWEEN each column */
    .row,
    .row>.column {
      padding: 8px;
    }

    /* Create four equal columns that floats next to each other */
    .column {
      float: left;
      width: 25%;

    }

    /* Clear floats after rows */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Content */
    .content {
      background-color: white;
      padding: 10px;

    }

    .politics {
      margin-top: 130px;
    }

    .politics h2 {
      margin-left: 40%;
      font-weight: bolder;
    }

    /* Responsive layout - makes a two column-layout instead of four columns */
    @media screen and (max-width: 900px) {
      .column {
        width: 50%;
      }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column {
        width: 100%;
      }
    }

    #date {
      color: black;
      margin-left: 100px;
      margin-top: 100px;
    }

    .button {
      color: grey;
      border: none;
      color: white;
      padding: 10px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      margin: 4px 2px;
      cursor: pointer;
      background-position-x: initial;
      background-position-y: initial;
      background-size: initial;
      background-repeat-x: initial;
      background-repeat-y: initial;
      background-attachment: initial;
      background-origin: initial;
      background-clip: initial;
      background-color: rgb(233, 77, 28);

      text-transform: uppercase;
      border-top-left-radius: 25px !important;
      border-top-right-radius: 25px !important;
      border-bottom-right-radius: 25px !important;
      border-bottom-left-radius: 25px !important;

      margin-left: 40%;
    }

    .button:hover {
      background: black;

    }

    a {
      text-decoration: none;
    }
  </style>

</head>

<body>



  <div class="header row2">
    <div class="header1">
      <img id="logo" class="logo1" src="logo.jpeg"><br>
      <p id="date"></p>

    </div>
    <div class="header2">
      <img src="ad.jpg">
    </div>
  </div>
  <!-- Navigation Bar -->
  <div id="navbar">

    <div id="navelements">
      <a href="#" class="active">ഹോം</a>
      <a href="/news/getNews/politics" class="nav">രാഷ്ട്രീയം</a>
      <a href="/news/getNews/entertainment" class="nav">വിനോദം</a>
      <a href="/news/getNews/sports" class="nav">കായികം</a>
      <a href="/news/getNews/foreign" class="nav">പ്രവാസം</a>
      <a href="/news/getNews/travel" class="nav">യാത്ര</a>
    </div>

  </div><br>
  <div style="float: right; margin-right: 15%;">LATEST NEWS</div><br>
  <div class="body">
    <div class="body1">
      <img src="ad1.gif"><br>
      <img src="ad2.jpg"><br>
      <img src="ad2.jpg">

    </div>
    <div class="body2">

      <div class="row">
        <div class="column1">
          <div class="container">
            <form method="POST" id="addNewsForm" name="addNewsForm" enctype="multipart/form-data">
              <div class="form-group">
                <label for="heading">News Heading</label>
                <textarea class="form-control" id="heading" name="heading" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="description">News Description</label>
                <textarea class="form-control" id="description" name="description" rows="10"></textarea>
              </div>
              <div class="form-group">
                <label for="short_description">Short Description</label>
                <textarea class="form-control" id="short_description" name="short_description" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="type">
                  <option value="Kerala">Kerala</option>
                  <option value="Sports">Sports</option>
                  <option value="Indian">Indian</option>
                  <option value="Movies">Movies</option>
                  <option value="Politics"> Politics</option>
                </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlFile1">News Images</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1"
                  name="exampleFormControlFile1">
              </div>
              <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="main" id="Portfolio">

      <a id="politics"></a>
      <!-- Portfolio Gallery Grid -->
      <div class="row">
        <div class="politics">


          <h2>രാഷ്ട്രീയം</h2>


          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news1.jpg" alt="Lights" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n2.jpg" alt="Nature" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n1.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്.</p>
              </div>
            </a>
          </div><!-- END column-->
        </div><!-- END politics-->
      </div><!-- END row -->

      <a href="politics.html"><input type="button" value="കൂടുതല്‍ കാണുക  +" id="button" class="button"></a>
      <a id="entertainment"></a>
      <!-- Portfolio Gallery Grid -->
      <div class="row">
        <div class="politics">
          <h2>വിനോദം</h2>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n11.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news.jpg" alt="Lights" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n2.jpg" alt="Nature" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്.</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news1.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് </p>
              </div>
            </a>
          </div>

        </div><!-- END poitics -->
      </div><!-- END row -->

      <a href="entertainment.html"><input type="button" value="കൂടുതല്‍ കാണുക  +" id="button" class="button"></a>

      <a id="sports"></a>
      <div class="row">
        <div class="politics">
          <h2>കായികം</h2>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news1.jpg" alt="Lights" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n2.jpg" alt="Nature" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n1.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്.</p>
              </div>
            </a>
          </div>
          <!-- END GRID -->
        </div><!-- END pol -->
      </div><!-- END row-->

      <a href="sports.html"><input type="button" value="കൂടുതല്‍ കാണുക  +" id="button" class="button"></a>

      <a id="foreign"></a>
      <div class="row">
        <div class="politics">
          <h2>പ്രവാസം</h2>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news1.jpg" alt="Lights" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n2.jpg" alt="Nature" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n1.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്.</p>
              </div>
            </a>
          </div>
          <!-- END GRID -->
        </div><!-- END pol -->
      </div><!-- END row -->

      <a href="foreign.html"><input type="button" value="കൂടുതല്‍ കാണുക  +" id="button" class="button"></a>

      <a id="travel"></a>
      <div class="row">
        <div class="politics">
          <h2>യാത്ര</h2>
          <div class="column">

            <a href="news.html">
              <div class="content">
                <img src="news.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="news1.jpg" alt="Lights" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n2.jpg" alt="Nature" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക് .</p>
              </div>
            </a>
          </div>
          <div class="column">
            <a href="news.html">
              <div class="content">
                <img src="n1.jpg" alt="Mountains" style="width:100%">
                <h3><a href="#">ജാമിയ ഹർജി ഫെബ്രുവരി നാലിലേക്ക് മാറ്റി</a></h3>
                <p>ജാമിയ സംഘര്‍ഷവുമായി ബന്ധപ്പെട്ട ഹര്‍ജികള്‍ ഫെബ്രുവരി നാലിന് പരിഗണിക്കാമെന്ന ഡല്‍ഹി ഹൈക്കോടതി
                  തീരുമാനത്തിനെതിരെ അഭിഭാഷകര്‍. എത്രയും വേഗം ഹര്‍ജികള്‍ പരിഗണിക്കണമെന്നും വിദ്യാര്‍ഥികള്‍ക്ക്.</p>
              </div>
            </a>
          </div>
        </div><!-- END pol-->
      </div><!-- END row -->


      <a href="travel.html"><input type="button" value="കൂടുതല്‍ കാണുക  +" id="button" class="button"></a>



    </div><!-- END main-->


  </div><!-- END body2 -->
  </div><!-- END body -->

  <!-- Footer -->
  <div class="footer">
    <h2>വാര്‍ത്താമലയാളം</h2>
    <h3>phone number</h3>
  </div>


  <script>

    var scrolling = setInterval(window.scrollBy(0, 50), 1);
    window.setInterval(dateandtime, 1);
    window.onscroll = function () { myFunction2() };

    var navbar = document.getElementById("navbar");
    var sticky = (navbar.offsetTop);
    var logo = document.getElementById("logo")


    var h = logo.height;
    function myFunction2() {
      if (window.pageYOffset >= h / 2) {
        navbar.classList.add("sticky")
        logo.classList.remove("logo1")
        logo.classList.add("logo2")
        navbar.style.height = "80px"

      } else {
        navbar.classList.remove("sticky");
        logo.classList.remove("logo2")
        logo.classList.add("logo1")
        navbar.style.height = "60px"

      }
    }
    function dateandtime() {
      var d = new Date();
      document.getElementById("date").innerHTML = d.toDateString();

    }                                         
  </script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script>

    $(document).ready(function () {

      $("#btnSubmit").click(function (event) {

        //stop submit the form, we will post it manually.
        event.preventDefault();

        // Get form



        // Create an FormData object 
        var data = new FormData();

        var dataJSON = $('#addNewsForm').serializeArray();
        console.log("dataJSON", dataJSON)

        // If you want to add an extra field for the FormData

        data.append("data", JSON.stringify(dataJSON));
        if ($('input[type=file]')[0].files[0]) {
          data.append("file", $('input[type=file]')[0].files[0])
        }



        // disabled the submit button
        $("#btnSubmit").prop("disabled", true);

        $.ajax({
          type: "POST",
          url: "/news/addNews",
          data: data,
          dataType: 'json',
          cache: false,
          contentType: false,
          processData: false,
          success: function (data) {

            $("#result").text(data);
            console.log("SUCCESS : ", data);
            $("#btnSubmit").prop("disabled", false);

          },
          error: function (e) {

            $("#result").text(e.responseText);
            console.log("ERROR : ", e);
            $("#btnSubmit").prop("disabled", false);

          }
        });

      });

    });
  </script>



</body>

</html>